{%- comment -%}swiper-wrapper.liquid{%- endcomment -%}
{% liquid
  assign swiper_id = swiper_id | default: section.id
  assign arrow_position = arrows | default: 'center'
  assign slides_per_view_mobile = slides_per_view_mobile | default: 2
  assign slides_per_view_desktop = slides_per_view_desktop | default: slides_per_view_mobile
  assign arrows_on_mobile = arrows_on_mobile | default: false
  assign show_controls_on_desktop = show_controls_on_desktop | default: 1
  assign gap = gap | default: 0

  if arrow_position == 'center'
    assign swiper_button_styles = 'absolute top-1/2 w-[calc(100%_+_86px)] -left-[36px] right-0 -translate-y-1/2'
  elsif arrow_position == 'inline'
    assign swiper_button_styles = ''
  endif
%}

{% capture prev_button %}
  <button id='swiper-button-prev-{{ swiper_id }}' class='p-2 transition-opacity duration-300 swiper-nav-btn' data-swiper-id='{{ swiper_id }}'>
    {%- render 'icon' with 'c-icon-caret'
      , size: 10
      , class: '-rotate-90 h-[12.5px] w-[25px]' -%}
  </button>
{% endcapture %}
{% capture next_button %}
  <button id='swiper-button-next-{{ swiper_id }}' class='p-2 transition-opacity duration-300 swiper-nav-btn' data-swiper-id='{{ swiper_id }}'>
    {%- render 'icon' with 'c-icon-caret'
      , size: 12
      , class: 'rotate-90 h-[12.5px] w-[25px]' -%}
  </button>
{% endcapture %}

<div class='relative'>
  <swiper-container
    navigation='
      {
        "nextEl": "#swiper-button-next-{{ swiper_id }}",
        "prevEl": "#swiper-button-prev-{{ swiper_id }}"
      }
    '
    pagination='
      {
        "el": "#swiper-pagination-{{ swiper_id }}",
        "clickable": true,
        "bulletClass": "swiper-pagination-bullet",
        "bulletActiveClass": "swiper-pagination-bullet-active"
      }
    '
    slides-per-view='{{ slides_per_view_mobile }}'
    slides-per-group='{{ slides_per_view_mobile }}'
    space-between='{{ gap }}'
    breakpoints='
      {
        "768": {
          "slidesPerView": {{ slides_per_view_mobile }},
          "slidesPerGroup": {{ slides_per_view_mobile }}
        },
        "1024": {
          "slidesPerView": {{ slides_per_view_desktop }},
          "slidesPerGroup": {{ slides_per_view_desktop }}
        }
      }
    '
    class='flex flex-col overflow-hidden w-full gap-4'
  >
    {{ slides }}
  </swiper-container>

  {% unless arrow_position == 'inline' %}
    <div class='{% if arrows_on_mobile %}flex{% else %}hidden lg:flex{% endif %} justify-between items-center z-10 transform {{ swiper_button_styles }}'>
      {{ prev_button }}
      {{ next_button }}
    </div>
  {% endunless %}

  <div class='{% if show_controls_on_desktop == 1 %}flex{% else %}flex lg:hidden{% endif %} justify-center items-center mt-4'>
    {% if arrow_position == 'inline' %}
      {{ prev_button }}
    {% endif %}
    <div id='swiper-pagination-{{ swiper_id }}' class='flex justify-center gap-[3px] px-[12px]'></div>
    {% if arrow_position == 'inline' %}
      {{ next_button }}
    {% endif %}
  </div>

  <style>
    #swiper-pagination-{{ swiper_id }} .swiper-pagination-bullet {
      position: relative;
      padding: 6px 0;
      background: transparent;
      cursor: pointer;
    }

    #swiper-pagination-{{ swiper_id }}
    .swiper-pagination-bullet-active {
      bottom: 1px;
    }

    #swiper-pagination-{{ swiper_id }}
    .swiper-pagination-bullet::before {
      content: '';
      display: block;
      width: 50px;
      height: 1px;
      border-radius: 0.25rem;
      background-color: #bfbfbf;
      margin: 0 auto;
    }

    #swiper-pagination-{{ swiper_id }}
    .swiper-pagination-bullet-active::before {
      background-color: black;
      height: 2px;
    }
  </style>
</div>
