{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object

  Usage:
  {% render 'facets', results: collection, prefix: "string" %}
{% endcomment %}

<!-- Drawer Filters -->
<facet-filters-form
  section-id='facet-filters'
  class='flex h-full [&[loading]]:opacity-50 [&[loading]]:pointer-events-none'
>
<form class='flex flex-col w-full'>
    <h3 class='h6 mb-[20px]'>Filter By</h3>
    <div class='w-full flex-1'>
      {%- for filter in results.filters -%}
        {% assign facet_count = 0 %}
        {% capture accordion_id %}Details-{{ prefix }}-{{ filter.param_name | escape }}{% endcapture %}
        {% capture accordion_title %}{{ filter.label | escape }}{% endcapture %}
        {% capture accordion_content %}
          {%- case filter.type -%}
            {%- when 'boolean', 'list' -%}
              <ul class='list-unstyled space-y-[10px] pb-[25px] pt-[10px] pl-[10px]' role='list'>
                {%- liquid
                  assign sorted_values = filter.values

                  if filter.operator == 'AND'
                    assign active_filter_values = filter.values | where: 'active', true
                    assign inactive_filter_values = filter.values | where: 'active', false
                    assign sorted_values = active_filter_values | concat: inactive_filter_values
                  endif
                -%}

                {%- for value in sorted_values -%}
                  {% liquid
                    assign input_id = 'Filter-' | append: filter.param_name | escape | append: prefix | append: forloop.index
                    assign is_disabled = false
                    if value.count == 0 and value.active == false
                      assign is_disabled = true
                    endif
                  %}

                  {%- capture text_value -%}
                    <span aria-hidden="true">
                      <span>{{- value.label -}}</span> ({{- value.count -}})
                    </span>
                    <span class="sr-only">
                      {{- value.label | escape }} (
                      {%- if value.count == '1' -%}
                        {{- 'sections.collection_template.facets.product_count_simple.one' | t: count: value.count -}}
                      {%- else -%}
                        {{- 'sections.collection_template.facets.product_count_simple.other' | t: count: value.count -}}
                      {%- endif -%}
                      )
                    </span>
                  {%- endcapture -%}

                  {% unless is_disabled %}
                    {% assign facet_count = facet_count | plus: 1 %}
                    <li class="list-none">
                      {% if presentation == 'swatch' %}
                        <div>
                          {% render 'swatch-input',
                            id: input_id,
                            type: 'checkbox',
                            name: value.param_name,
                            value: value.value,
                            product_form_id: 'FacetFiltersFormMobile',
                            swatch: value.swatch,
                            checked: value.active,
                            disabled: is_disabled
                          %}
                        </div>
                      {% else %}
                        {%- render 'form-field',
                          kind: 'checkbox',
                          id: input_id,
                          checked: value.active,
                          name: value.param_name,
                          label: text_value,
                          value: value.value,
                          disabled: is_disabled
                        -%}
                      {% endif %}
                      </li>
                    {% endunless %}
                {%- endfor -%}
              </ul>
            {%- when 'price_range' -%}
              <div class='pt-6'>
                {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                <p class='pb-4'>
                  {{ 'sections.collection_template.facets.max_price' | t: price: max_price_amount }}
                </p>
                {% assign id_prefix = 'Mobile-Filter-' | append: prefix %}
                {% render 'price-facet', filter: filter, id_prefix: id_prefix %}
              </div>
          {%- endcase -%}
        {% endcapture %}

        {% if facet_count > 0 %}
          {% render 'accordion-item',
            id: accordion_id,
            title: accordion_title,
            content: accordion_content,
            alternate_layout: true,
            open: true,
            rte: false
          %}
        {% endif %}
      {%- endfor -%}

      {% comment %}
      {%- capture sort_content -%}
        <div class='pt-6'>
          {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
          {% capture options %}
            {%- for option in results.sort_options -%}
              <option
                value="{{ option.value | escape }}"
                {% if option.value == sort_by %}
                  selected="selected"
                {% endif %}
              >
                {{ option.name | escape }}
              </option>
            {%- endfor -%}
          {% endcapture %}
          {% assign label = 'sections.collection_template.facets.sort_by_label' | t %}
          {%- render 'form-field', kind: 'select', name: 'sort_by', id: 'SortBy', label: label, options: options -%}
        </div>
      {%- endcapture %}

      {% assign accordion_id = 'Details-Mobile-SortBy' | append: prefix %}
      {% render 'accordion-item',
        id: prefix,
        title: 'Sort by',
        content: sort_content,
        alternate_layout: true,
        open: true,
        rte: false
      %}
        {% endcomment %}
    </div>

    <div class='{% if prefix == 'desktop' %}hidden{% endif %} sticky bottom-0 bg-p-light w-full p-4 justify-center'>
      <button
        class='btn'
        variant='primary'
        type='submit'
        {% unless collection.products %}
          disabled
        {% endunless %}
        sub-section-id='FacetFiltersFormSubmit'
      >
        Apply Filters ({{ collection.products_count }}
        {{ collection.products_count | pluralize: 'result', 'results' }})
      </button>
    </div>
  </form>
</facet-filters-form>
