{%- assign form_id = 'Footer' | append: type | append: 'Form' -%}
{%- form 'localization', id: form_id, class: 'flex' -%}
  {%- if type == 'currency' -%}
    {%- assign label = 'localization.country_label' | t -%}

    {%- capture id -%}
      {{ form_id }}_country_code
    {%- endcapture -%}

    {%- capture options -%}
      {%- for country in localization.available_countries -%}
        {%- assign country_image = shop.metaobjects.country_image.values | where: "country", country.name | first -%}
        {%- assign icon_url = country_image.icon | image_url: width: 25 -%}

        <option
          value='{{ country.iso_code }}'
          {% if country.iso_code == localization.country.iso_code %}
            selected
          {% endif %}
          {% if icon_url %}
            data-icon='{{ icon_url }}'
          {% endif %}
        >
          {%- if icon_url -%}
            <img src='{{ icon_url }}' alt='{{ country.name }}' class='size-[25px] block' loading='lazy' width="25" height="25">
          {%- endif -%}
        </option>
      {%- endfor -%}
    {%- endcapture -%}

    {%- render 'inline-select',
      name: 'country_code',
      id: id,
      label: label,
      value: localization.country.iso_code,
      options: options,
      custom_select: true,
      attributes: 'onchange="this.form?.submit()"',
      hide_label: true,
      inline: true
    -%}
  {%- endif -%}

  {%- if type == 'language' -%}
    <label for='{{ form_id }}_locale_code'>{{ 'localization.language_label' | t }}</label>
    <select name='locale_code' id='{{ form_id }}_locale_code' onchange='this.form?.submit()'>
      {%- for language in localization.available_languages -%}
        <option
          value='{{ language.iso_code }}'
          {% if language.iso_code == localization.language.iso_code %}
            selected
          {% endif %}
        >
          {{ language.endonym_name | capitalize }}
        </option>
      {%- endfor -%}
    </select>
  {%- endif -%}
{%- endform -%}
