{% comment %}
  Renders a main cart page line item.

  Accepts:
    - item: The cart item object.
{% endcomment %}

<div
  id='MainCart-Item-{{ item.index | plus: 1 }}'
  class='col-span-4 grid grid-cols-subgrid gap-x-[40px] items-start border-b border-solid border-t-border py-sm'
>
  {% comment %} Media {% endcomment %}
  <div class='relative aspect-square'>
    {% if item.image %}
      {%- render 'image',
        width: 600,
        image: item.image,
        height: item.image.height,
        alt: item.image.alt,
        sizes: '(min-width: 1440px) 300px, (min-width: 1024px) 200px, 150px',
        widths: '150, 200, 300, 400, 600',
        object_fit: 'contain',
        class: 'h-full w-full h-full absolute inset-0'
      -%}
      {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
      <a href='{{ item.url }}' class='absolute inset-0' tabindex='-1' aria-hidden='true'>
        <span class='sr-only'>
          {{- item.product.title | escape -}}
        </span>
      </a>
    {% endif %}
  </div>

  {% comment %} Item Details {% endcomment %}
  <div class='grid grid-cols-[200px_1fr_1fr_1fr] gap-[40px] place-content-start'>
    <div class='grid place-content-start font-bold'>
      <a href='{{ item.url }}' class='body'>
        {{- item.product.title | escape -}}
      </a>

      <p>
        {{ item.variant.title }}
      </p>

      {%- if item.product.has_only_default_variant == false
        or item.properties.size != 0
        or item.selling_plan_allocation != blank
      -%}
        {%- capture line_properties_content -%}
          {%- for property in item.properties -%}
            {%- assign property_first_char = property.first | slice: 0 -%}
            {%- if property.last != blank and property_first_char != '_' -%}
              <div class='grid grid-cols-1 gap-2xs text-caption'>
                <dt class="truncate font-medium">{{ property.first }}:</dt>
                <dd class="text-t-foreground-secondary">
                  {%- if property.last contains '/uploads/' -%}
                    <a
                      href='{{ property.last }}'
                      class='link'
                      target='_blank'
                      aria-describedby='a11y-new-window-message'
                    >
                      {{ property.last | split: '/' | last }}
                    </a>
                  {%- else -%}
                    {{ property.last }}
                  {%- endif -%}
                </dd>
              </div>
            {%- endif -%}
          {%- endfor -%}
        {%- endcapture -%}

        {%- if line_properties_content != blank -%}
          <div>
            <dl class='text-utility grid grid-cols-1 gap-y-xs max-w-96'>
              {{- line_properties_content -}}
            </dl>
          </div>
        {%- endif -%}

        {%- if item.selling_plan_allocation.selling_plan != blank -%}
          <p class='text-utility'>{{ item.selling_plan_allocation.selling_plan.name }}</p>
        {%- endif -%}
      {%- endif -%}

      {%- if item.line_level_discount_allocations.size > 0 -%}
        <ul
          class='grid grid-cols-1 gap-2xs'
          role='list'
          aria-label='{{ 'customer.order.discount' | t }}'
        >
          {%- for discount in item.line_level_discount_allocations -%}
            <li class='flex items-center justify-start gap-2xs text-utility'>
              {% render 'icon' with 'icon-discount' %}
              {{ discount.discount_application.title }}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>

    {% comment %} Per price column {% endcomment %}
    <div>
      <p class='mb-[5px]'>{{ 'cart.line_item.price' | t }}</p>
      {%- if item.original_price != item.final_price -%}
        <div>
          <span class='sr-only'>
            {{ 'products.product.price.regular_price' | t }}
          </span>
          <s class='line-through'>
            {{- item.original_price | money -}}
          </s>
          <span class='sr-only'>
            {{ 'products.product.price.sale_price' | t }}
          </span>
          <strong>
            {{ item.final_price | money }}
          </strong>
        </div>
      {%- else -%}
        <div>
          {{ item.original_price | money }}
        </div>
      {%- endif -%}
    </div>

    {% comment %} Quantity Column {% endcomment %}
    <div>
      <p class='mb-[5px]'>{{ 'cart.line_item.quantity' | t }}</p>
      {%- capture quantity_id -%}Main-cart-quantity-{{ item.index | default: 0 | plus: 1 }}{%- endcapture -%}
      {%- render 'inline-quantity-input',
        quantity: item.quantity,
        variant: item.variant,
        product: item.product,
        cart_item: item,
        id: quantity_id,
        name: 'updates[]'
      -%}
    </div>

    {% comment %} Price Column {% endcomment %}
    <div class='text-right flex-col flex justify-between items-end'>
      <div>
      <p class='mb-[5px]'>{{ 'cart.line_item.total' | t }}</p>
        {%- if item.original_line_price != item.final_line_price -%}
          <dl class='inline-flex items-center justify-end gap-x-2xs flex-wrap'>
            <dt class='sr-only'>
              {{ 'products.product.price.regular_price' | t }}
            </dt>
            <dd>
              <s class='line-through'>
                {{ item.original_line_price | money }}
              </s>
            </dd>
            <dt class='sr-only'>
              {{ 'products.product.price.sale_price' | t }}
            </dt>
            <dd>
              {{ item.final_line_price | money }}
            </dd>
          </dl>
        {%- else -%}
          <span>
            {{ item.original_line_price | money }}
          </span>
        {%- endif -%}

        {%- if item.variant.available and item.unit_price_measurement -%}
          <div class='caption'>
            <span class='sr-only'>{{ 'products.product.price.unit_price' | t }}</span>
            {{ item.unit_price | money }}
            <span aria-hidden='true'>/</span>
            <span class='sr-only'>&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
            {%- if item.unit_price_measurement.reference_value != 1 -%}
              {{- item.unit_price_measurement.reference_value -}}
            {%- endif -%}
            {{ item.unit_price_measurement.reference_unit }}
          </div>
        {%- endif -%}
      </div>

      <cart-remove-toggle
        id='MainCart-Remove-{{ item.index | plus: 1 }}'
        data-index='{{ item.index | plus: 1 }}'
        key='{{ item.key }}'
      >
        <button
          type='button'
          class='body underline'
          aria-label='{{ 'sections.cart.remove_title' | t: title: item.title }}'
          data-variant-id='{{ item.variant.id }}'
        >
          Remove
        </button>
      </cart-remove-toggle>
    </div>
  </div>
</div>
