{% comment %}
  Renders a set of links for paginated results. Must be used within paginate tags.

  Usage:
  {% paginate results by 2 %}
    {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
  {% endpaginate %}

  Accepts:
  - paginate: {Object}
  - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

{%- if paginate.parts.size > 0 -%}
  <nav role='navigation' aria-label='{{ 'general.pagination.label' | t }}'>
    <ul class='my-[60px] flex items-center justify-center gap-x-[20px] list-none' role='list'>
      {%- if paginate.previous -%}
        <li class='list-none rotate-90'>
          <a
            href='{{ paginate.previous.url }}{{ anchor }}'
            class='rotate-180'
            aria-label='{{ 'general.pagination.previous' | t }}'
          >
            {%- render 'icon' with 'icon-caret' -%}
          </a>
        </li>
      {%- endif -%}

      <li class='list-none text-body'>
        {{ 'general.pagination.page_x_of_y' | t: current: paginate.current_page, total: paginate.pages }}
      </li>

      {%- if paginate.next -%}
        <li class='list-none -rotate-90'>
          <a
            href='{{ paginate.next.url }}{{ anchor }}'
            aria-label='{{ 'general.pagination.next' | t }}'
          >
            {%- render 'icon' with 'icon-caret' -%}
          </a>
        </li>
      {%- endif -%}
    </ul>
  </nav>
{%- endif -%}
