{% comment %}
  Renders product buy-buttons.
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} product form id.
  - section_id: {String} id of section to which this snippet belongs.
  - show_pickup_availability: {Boolean} for the pickup availability. If true the pickup availability is rendered, false - not rendered (optional).

  Usage:
  {% render 'product--main__buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true %}
{% endcomment %}

{%- assign selected_variant = product.selected_or_first_available_variant | default: product.variants[0] -%}

<div
  class='lg:pt-[28px] mt-[28px] lg:border-t lg:border-t-line-break'
  {{ block.shopify_attributes }}
  sub-section-id='{{ block.id }}'
>
  {%- if product != blank -%}
    {%- liquid
      assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif

      assign show_dynamic_checkout = false
      if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
        assign show_dynamic_checkout = true
      endif
    -%}

    <product-form
      class='group/product-form'
    >
      <div class='product-form__error-message-wrapper' role='alert' hidden>
        {%- render 'icon' with 'icon-error' -%}
        <span class='product-form__error-message'></span>
      </div>

      {%- form 'product',
        product,
        id: product_form_id,
        class: 'group-[.loading]/product-form:pointer-events-none',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        <input
          type='hidden'
          name='id'
          class='hidden'
          value='{{ product.selected_or_first_available_variant.id }}'
          {% if product.selected_or_first_available_variant.available == false
            or quantity_rule_soldout
            or product.selected_or_first_available_variant == null
          %}
            disabled
          {% endif %}
        >

        {%- if gift_card_recipient_feature_active -%}
          {%- render 'gift-card-recipient-form',
            product: product,
            form: form,
            section: section,
            form_id: product_form_id
          -%}
        {%- endif -%}

        <div class='grid grid-cols-1 gap-y-xs'>
          <div class='flex'>
            {% if block.settings.show_quantity_selector %}
              {%- render 'product--main-atc__quantity-selector',
                block: block,
                section: section,
                product: product,
                selected_variant: selected_variant,
                product_form_id: product_form_id
              -%}
            {% endif %}
            {%- liquid
              assign check_against_inventory = true
              if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
                assign check_against_inventory = false
              endif
              if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                assign quantity_rule_soldout = true
              endif
            -%}
            <button
              id='ProductSubmitButton-{{ section_id }}'
              type='submit'
              name='add'
              variant='quinary'
              class='btn flex-grow'
              {% if product.selected_or_first_available_variant.available == false
                or quantity_rule_soldout
                or product.selected_or_first_available_variant == null
              %}
                disabled
              {% endif %}
            >
              <span>
                {%- if product.selected_or_first_available_variant == null -%}
                  {{ 'products.product.unavailable' | t }}
                {%- elsif product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                  {{ 'products.product.sold_out' | t }}
                {%- else -%}
                  {%- render 'price',
                    product: product,
                    use_variant: selected_variant,
                    show_badges: false,
                    price_size_class: 'text-[inherit]'
                  -%}
                  -
                  {{ 'products.product.add_to_cart' | t }}
                {%- endif -%}
              </span>
            </button>
          </div>
          {%- if show_dynamic_checkout -%}
            {{ form | payment_button }}
          {%- endif -%}
        </div>
        {%- if show_pickup_availability -%}
          <fieldset form='{{ product_form_id }}'>
            {%- render 'product--main__pickup-availability', product: product -%}
          </fieldset>
        {%- endif -%}

        {% if shop.permanent_domain contains 'mustang-survival.myshopify.com'
          or shop.permanent_domain contains 'mustang-survival-ca.myshopify.com'
          or shop.permanent_domain contains 'mustang-survival-uk.myshopify.com'
        %}
          {% if shop.permanent_domain contains 'mustang-survival.myshopify.com' %}
            {% assign shopLocale = 'en-US' %}
            <div class='shop-pay-klarna-container'>
              <div class='shop-page-banner shop-klarna-child'>
                {{ form | payment_terms }}
              </div>
              <!-- Klarna v2 Placement -->
              <div class='klarna__container shop-klarna-child'>
                <klarna-placement
                  data-key='credit-promotion-standard'
                  data-locale='en-US'
                  data-purchase-amount='{{ product.price }}'
                ></klarna-placement>
              </div>
              <!-- end Placement -->
            </div>
          {% elsif shop.permanent_domain contains 'mustang-survival-ca.myshopify.com' %}
            {% assign shopLocale = 'en-CA' %}
            <!-- Klarna v2 Placement -->
            <div class='klarna__container'>
              <klarna-placement
                data-key='credit-promotion-auto-size'
                data-locale='en-CA'
                data-purchase-amount=''
              ></klarna-placement>
            </div>
            <!-- end Placement -->
          {% elsif shop.permanent_domain contains 'mustang-survival-uk.myshopify.com' %}
            {% assign shopLocale = 'GB' %}
          {% endif %}
        {% endif %}
      {%- endform -%}
    </product-form>
  {%- else -%}
    <div class='product-form'>
      <div class='product-form__buttons form'>
        <button
          type='submit'
          name='add'
          variant='primary'
          class='btn'
          disabled
        >
          {{ 'products.product.sold_out' | t }}
        </button>
      </div>
    </div>
  {%- endif -%}
</div>

<style>
  .shopify-payment-button__more-options[aria-hidden='true'] {
    display: none;
  }
</style>
