{%- render '@needs-script', entries: 'component-product-card' -%}

{%- comment -%}
  Renders a product card

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

  Usage:
  {% render 'product-card', product: collection.products[0] %}
{%- endcomment -%}

{%- capture swatches -%}
  {% assign form_id = '' | append: section.index | append: product.id | append: '-swatches' %}
  <form id="{{ form_id }}">
    {% for option in product.options_with_values %}
      {% if option.name == 'Color' or option.name == 'Colour' %}
        <ul class="flex flex-wrap gap-[9px]" role="list">
          {% for value in option.values %}
            <li data-option-value {% if value.variant.image %}data-variant-image="{{ value.variant.image | image_url: width: 300 }}"{% endif %}>
              {% liquid
                assign input_id = 'swatch-' | append: value.param_name | escape | append: forloop.index
                assign is_disabled = false
                if value.count == 0 and value.active == false
                  assign is_disabled = true
                endif
              %}
              {% render 'swatch-input',
                id: input_id,
                type: 'radio',
                name: value.param_name,
                value: value.value,
                product_form_id: form_id,
                swatch: value.swatch,
                checked: value.active,
                disabled: is_disabled
              %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </form>
{%- endcapture -%}

{%- capture yotpo_script -%}
  <script type="text/javascript" src="https://staticw2.yotpo.com/N5hWfnv0qgGtKYBAfbi3uGSPybHB6uXDm674ctDi/widget.js" async></script>
{%- endcapture -%}

{%- if product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != '0' %}
  {{ yotpo_script }}
{% endif %}

{%- capture yotpo -%}
  {% if product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != "0" %}
    <div class="yotpo bottomLine h-[36.39px]"
      data-appkey="N5hWfnv0qgGtKYBAfbi3uGSPybHB6uXDm674ctDi"
      data-domain="{{shop.permanent_domain | escape }}"
      data-product-id="{{ product.id }}"
      data-product-models="{{ product.id }}"
      data-name="{{ product.title | escape }}"
      data-url="{{ shop.url }}{{ product.url }}"
      data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
      data-description="{{ product.description | escape }}"
      data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
    </div>            
  {% else %}
    <div class="yotpo bottomline h-[36.39px] flex items-end">
      <div class="yotpo-bottomline pull-left star-clickable">  
        <span class="yotpo-stars"> 
          <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>
          <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>
          <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>
          <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>
          <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>
        </span>      
        <div class="yotpo-clr"></div>
      </div>
    </div>
    <br>
  {% endif %}
{%- endcapture -%}

{%- capture sizes -%}(min-width: 1440px) 300px, (min-width: 1024px) 33vw, 50vw{%- endcapture -%}
{%- assign image_widths = '300, 500, 750, 800' -%}
{%- liquid
  assign product = product
  assign media_aspect_ratio = media_aspect_ratio | default: 'square'
  assign show_secondary_image = show_secondary_image | default: true, allow_false: true
  assign lazy_load = lazy_load | default: true, allow_false: true

  if media_aspect_ratio == 'square'
    assign ratio = 'aspect-square'
  elsif media_aspect_ratio == 'portrait'
    assign ratio = 'aspect-[3/4]'
  else
    assign ratio = false
  endif

  if lazy_load
    assign loading = 'lazy'
  else
    assign loading = 'eager'
  endif

  assign show_secondary_image = false
  assign target_url = product.url | within: collection
  assign featured_image = product.featured_image

  assign wrapper_tag = 'div'
%}

{% if product %}
  <product-card default-image="{{ product.featured_image | image_url: width: 300 }}">
    <{{ wrapper_tag }}
      class='w-full group relative flex flex-col overflow-hidden bg-white {{ class }}'
    >
      <a class='block' href='{{ target_url }}' sub-section-id='main-image' data-product-url>
        <div class='{% if ratio %}{{ ratio }}{% else %}aspect-auto{% endif %} bg-gray-200 relative group'>
          {%- render 'image',
            image: featured_image,
            class: 'h-full w-full object-cover object-center',
            sizes: sizes,
            width: 300,
            widths: image_widths,
            loading: loading
            attributes: "data-product-image=''"
          -%}

          {%- if show_secondary_image -%}
            {% assign hover_image = product.media | where: 'media_type', 'image' %}

            {%- if hover_image[1] -%}
              {%- render 'image',
                image: hover_image[1],
                class: 'h-full w-full object-cover object-center group-hover:opacity-100 group-hover:z-1 transition duration-300 opacity-0 absolute inset-0',
                sizes: sizes,
                widths: image_widths,
                width: 300
              -%}
            {%- endif -%}
          {%- endif -%}

          {%- render 'product-badges', product: product, container_class: 'absolute top-0 left-0 z-1' -%}
        </div>
      </a>

      <div class='flex flex-col flex-1 p-4 space-y-[16px]'>
        {{ swatches }}

        <h3 class='text-body'>
          <a href='{{ product.url | within: collection }}' data-product-url>
            {{ product.title }}
          </a>
        </h3>

        <div class='flex flex-1 gap-y-xs justify-between items-end'>
          {% comment %}
            {%- if product.variants.size > 1 -%}
              <p class='text-sm italic text-gray-500'>{{ product.variants | size }} variants</p>
            {%- endif -%}
          {% endcomment %}

          {{ yotpo }}

          {%- render 'price',
            product: product,
            show_badges: false,
            price_size_class: 'text-[12.8px] lg:text-[16px] leading-[14.4px] font-medium',
            compare_size_class: 'text-[10.4px] lg:text-[13px] leading-[14.4px] text-t-sale-price',
            container_class: 'flex flex-col items-end'
          -%}
        </div>
      </div>
    </{{ wrapper_tag }}>
  </product-card>
{%- endif -%}
