{%- comment -%}
  Renders product badges
  Accepts:

  - product: {Object} Product Liquid object
  - variant: {Object} Variant Liquid object (optional)
  - collection: {Object} Collection Liquid object (optional)
  - container_class: {String} Classes to add on the badges container (optional)
  - badge_class: {String} Classes to add on the individual badges (optional)

  Usage:
  {% render 'resource-badges', product: product, variant: product.variants[0], container_class: 'absolute top-2 left-2 right-2', badge_class: 'font-bold' %}
{%- endcomment -%}

{%- capture badge_classes -%}
!bg-p-background px-sm border-[2px] border-p-foreground bg-p-lightest flex justify-center items-center caption uppercase w-full text-[10px] lg:text-[12px] font-medium letter-spacing-[1px]
{%- endcapture -%}

{% liquid
  assign container_class = container_class | default: ''
  assign badge_class = badge_class | default: ''
  assign resource = product
  assign resource_type = 'product'

  if collection
    assign resource = collection
    assign resource_type = 'collection'
  endif

  if variant and variant.metafields.custom.badges.value.count > 0
    assign resource = variant
    assign resource_type = 'variant'
  endif
%}
{% if resource != blank or settings.show_sold_out_badge or settings.show_sale_badge %}
  <div class='flex flex-col {{ container_class }}'>
    {% for badge in resource.metafields.custom.badges.value %}
      <span
        class='{{ badge_classes }} {{ badge_class }}'
        style='
          {% if badge.text_color %}color: {{ badge.text_color | default: '#fff' }};{% endif %}
          {% if badge.solid %}
            background-color: {{ badge.background_color | default: '#000' }} !important;
            border-color: {{ badge.background_color | default: '#000' }} !important;
          {% else %}
            border-color: {{ badge.background_color | default: '#000' }} !important;
            background-color: white !important;
          {% endif %}
        '
      >
        {{ badge.text }}
      </span>

      {% if settings.show_single_custom_badge %}
        {% break %}
      {% endif %}
    {% endfor %}

    {%- if resource_type != 'collection'
      and settings.show_sale_badge
      and product.compare_at_price > product.price
      and product.available
    -%}
      <span class='{{ badge_classes }} {{ badge_class }}'>
        {{- 'products.product.on_sale' | t -}}
      </span>
    {%- endif -%}

    {%- if resource_type != 'collection' and settings.show_sold_out_badge and product.available == false -%}
      <span class='{{ badge_classes }} {{ badge_class }}'>
        {{- 'products.product.sold_out' | t -}}
      </span>
    {%- endif -%}
  </div>
{% endif %}
