{% liquid
  assign delay = section.settings.autoplay_delay | times: 1
  assign is_slider = false
  if section.blocks.size > 1
    assign is_slider = true
  endif
%}

{% capture swiper_button_styles %}rounded-full absolute top-1/2 -translate-y-1/2 bg-no-repeat bg-center z-10 flex justify-center items-center w-5 h-5 bg-transparent border-none bg-none {{ section.settings.background_color }} {{ section.settings.text_color }}{% endcapture %}

{% capture menu_i18n %}
  {% assign menu = linklists[section.settings.menu] %}
  <div class='hidden lg:flex items-center gap-[25px] z-10'>
    {% if menu.links.size > 0 %}
      {% for link in menu.links %}
        <a href='{{ link.url }}' class='text-sm hover:underline'>
          {{ link.title }}
        </a>
      {% endfor %}
    {% endif %}
    {% render 'i18n-select', type: 'currency' %}
  </div>
{% endcapture %}

<div class="flex items-center justify-center gap-[40px] bg-t-grey-bg">
  {% if section.blocks.size > 0 %}
    {% if is_slider %}
        <div class="relative flex-shrink-0 lg:max-w-[50%] w-full">
          <swiper-container
        slides-per-view='1'
        navigation-next-el='.swiper-button-next--announcement'
        navigation-prev-el='.swiper-button-prev--announcement'
        auto-height='true'
        loop='true'
        role='region'
        aria-label='{{ 'sections.header.announcement' | t }}'
        {% if delay > 1 %}
          autoplay-delay='{{ delay }}'
        {% endif %}
        class='announcement-bar flex whitespace-nowrap overflow-clip w-full'
      >
    {% else %}
      <div class='announcement-bar'>
    {% endif %}
    {%- for block in section.blocks -%}
      {%- if block.settings.text == blank -%}
        {% continue %}
      {%- endif -%}

      {%- assign wrapper_tag = 'div' -%}
      {%- if is_slider -%}
        {%- assign wrapper_tag = 'swiper-slide' -%}
      {%- endif -%}
      <{{ wrapper_tag }}
        class='flex flex-grow flex-shrink-0 flex-wrap w-full gap-x-4 items-center justify-center h-auto text-center py-1 {% if is_slider %}px-12{% else %}px-2 md:px-12{% endif %}'
        {{ block.shopify_attributes }}
      >
        <p>
          {{ block.settings.text }}
        </p>
      </{{ wrapper_tag }}>
    {%- endfor -%}
    {% if is_slider %}
      </swiper-container>
      <button
        class='swiper-button-prev swiper-button-prev--announcement left-0 -rotate-90 {{ swiper_button_styles }}'
        aria-label='{{ 'general.slider.next_slide' | t }}'
      >
        <svg-icon src='c-icon-caret'></svg-icon>
      </button>
      <button
        class='swiper-button-next swiper-button-next--announcement right-0 rotate-90 {{ swiper_button_styles }}'
        aria-label='{{ 'general.slider.previous_slide' | t }}'
      >
        <svg-icon src='c-icon-caret'></svg-icon>
      </button>
      </div>
    {% else %}
      </div>
    {% endif %}
  {% endif %}

  {{ menu_i18n }}
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "number",
      "label": "Autoplay Delay (ms)",
      "info": "Autoplay delay in milliseconds. Set to 0 to disable autoplay.",
      "id": "autoplay_delay",
      "default": 3000
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "default": "Welcome to our store",
      "label": "Announcement Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link URL"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Welcome to our store",
          "label": "Announcement Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}
