{% liquid
  assign delay = section.settings.autoplay_delay | times: 1
  assign is_slider = false
  if section.blocks.size > 1
    assign is_slider = true
  endif
%}

{% capture swiper_button_styles %}rounded-full absolute top-1/2 -translate-y-1/2 bg-no-repeat bg-center z-10 flex justify-center items-center w-5 h-5 bg-transparent border-none bg-none {{ section.settings.background_color }} {{ section.settings.text_color }}{% endcapture %}

{% capture menu_i18n %}
  {% assign menu = linklists[section.settings.menu] %}
  <div class='hidden lg:flex items-center gap-[25px] z-10' style="color: {{ section.settings.text_color | default: '#000000' }};">
    {% if menu.links.size > 0 %}
      {% for link in menu.links %}
        <a href='{{ link.url }}' class='text-sm hover:underline'>
          {{ link.title }}
        </a>
      {% endfor %}
    {% endif %}
    {% render 'i18n-select', type: 'currency' %}
  </div>
{% endcapture %}

<div
  class='gap-[40px]'
  style='background-color: {{ section.settings.background_color | default: '#f7f7f7' }}; color: {{ section.settings.text_color | default: '#000000' }};'
  announcement-bar
>
  <div class='px-pagemargin 2xl:container flex items-center justify-between'>
    {% if section.blocks.size > 0 %}
      {% if is_slider %}
        <div class='relative flex-shrink-0 lg:max-w-[50%] w-full'>
          <swiper-container
            slides-per-view='1'
            navigation-next-el='.swiper-button-next--announcement'
            navigation-prev-el='.swiper-button-prev--announcement'
            auto-height='true'
            loop='true'
            role='region'
            aria-label='{{ 'sections.header.announcement' | t }}'
            {% if delay > 1 %}
              autoplay-delay='{{ delay }}'
            {% endif %}
            class='announcement-bar flex whitespace-nowrap overflow-clip w-full'
            navigation="false"
          >
      {% else %}
        <div class='announcement-bar'>
      {% endif %}
      {%- for block in section.blocks -%}
        {%- if block.settings.text == blank -%}
          {% continue %}
        {%- endif -%}

        {%- assign wrapper_tag = 'div' -%}
        {%- if is_slider -%}
          {%- assign wrapper_tag = 'swiper-slide' -%}
        {%- endif -%}
        <{{ wrapper_tag }}
          class='flex flex-grow flex-shrink-0 flex-wrap w-full gap-x-4 items-center h-auto py-1 text-center lg:text-left justify-center lg:justify-start'
          {{ block.shopify_attributes }}
        >
          <p style='color: {{ section.settings.text_color | default: '#000000' }};'>
            {{ block.settings.text }}
          </p>
        </{{ wrapper_tag }}>
      {%- endfor -%}
      {% if is_slider %}
        </swiper-container>
        <button
          class='swiper-button-prev swiper-button-prev--announcement left-0 -rotate-90 {{ swiper_button_styles }}'
          aria-label='{{ 'general.slider.next_slide' | t }}'
        >
          <svg-icon
            src='c-icon-caret'
            inlineStyles='color: {{ section.settings.text_color | default: '#000000' }};'
          ></svg-icon>
        </button>
        <button
          class='swiper-button-next swiper-button-next--announcement right-0 rotate-90 {{ swiper_button_styles }}'
          aria-label='{{ 'general.slider.previous_slide' | t }}'
        >
          <svg-icon
            src='c-icon-caret'
            inlineStyles='color: {{ section.settings.text_color | default: '#000000' }};'
          ></svg-icon>
        </button>
        </div>
      {% else %}
        </div>
      {% endif %}
    {% endif %}

    {{ menu_i18n }}
  </div>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "number",
      "label": "Autoplay Delay (ms)",
      "info": "Autoplay delay in milliseconds. Set to 0 to disable autoplay.",
      "id": "autoplay_delay",
      "default": 3000
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#f7f7f7"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Welcome to our store",
          "label": "Announcement Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}
