{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

{% capture content %}
  <div class='z-20 grid items-center w-full h-full grid-cols-1'>
    <div class='flex flex-col gap-y-[14px]'>
      {%- for block in section.blocks -%}
        {% case block.type %}
          {%- when 'caption' -%}
            <div class='text-subtitle-2' {{ block.shopify_attributes }}>
              {{ block.settings.caption }}
            </div>
          {%- when 'heading' -%}
            <h2 class='text-balance {{ block.settings.heading_size }}' {{ block.shopify_attributes }}>
              {{ block.settings.heading }}
            </h2>
          {%- when 'text' -%}
            <div class='rte max-w-[549px] {{ block.settings.text_size }}' {{ block.shopify_attributes }}>
              {{ block.settings.text }}
            </div>
          {%- when 'button' -%}
            {%- if block.settings.button_label != blank -%}
              <a
                {% if block.settings.button_link == blank %}
                  role='link' aria-disabled='true'
                {% else %}
                  href='{{ block.settings.button_link }}'
                {% endif %}
                class='my-2 btn w-max'
                variant='{% if block.settings.button_style_secondary %}secondary{% else %}primary{% endif %}'
                {{ block.shopify_attributes }}
              >
                {{ block.settings.button_label | escape }}
              </a>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
{% endcapture %}
{% capture image_overlay %}
  {% if section.settings.image_overlay %}
    <div class='absolute inset-0 z-10 pointer-events-none bg-p-darkest bg-opacity-10'></div>
  {% endif %}
{% endcapture %}
<div class='relative grid lg:grid-cols-2 gap-[45px] lg:gap-[50px] isolate gap-y-sm mb-[50px] lg:mb-[177px]'>
  <div class="pl-[20px] mx-[20px] lg:ml-[80px] lg:mr-0 lg:pl-[70px] relative border-l lg:border-l-0 border-t-line-break">
    {% if section.settings.line_break %}
      <span class="hidden absolute lg:block pointer-events-none w-[150%] h-[80%] top-[40%] left-0 border-b border-l border-t-line-break"></span>
    {% endif %}
    {{ content }}
  </div>

  {% if section.settings.image %}
    <div class="relative -order-1 lg:order-1 min-h-[237px] lg:min-h-[463px]">
      {% capture sizes %}(min-width: 1100px) 100vw, (min-width: 750px) 50vw{% endcapture %}
      {% assign preload = true %}
      {% if section.index > 2 %}
        {% assign preload = false %}
      {% endif %}
      {% render 'image'
        , image: section.settings.image
        , sizes: sizes
        , widths: '600, 900, 1100, 1440, 2180'
        , preload: preload
        , class: 'absolute inset-0 w-full h-full -z-10'
        , fetchpriority: fetch_priority
      %}
      {{ image_overlay }}
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Content Panels",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "checkbox",
        "id": "image_overlay",
        "default": false,
        "label": "Image overlay"
      },
      {
        "type": "checkbox",
        "id": "line_break",
        "label": "Add line break",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Add a heading",
            "label": "Heading"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "!h1",
                "label": "H1"
              },
              {
                "value": "!h2",
                "label": "H2"
              },
              {
                "value": "!h3",
                "label": "H3"
              },
              {
                "value": "!h4",
                "label": "H4"
              }
            ],
            "default": "!h4",
            "label": "Heading size"
          }
        ]
      },
      {
        "type": "caption",
        "name": "Caption",
        "settings": [
          {
            "type": "text",
            "id": "caption",
            "default": "Add a caption",
            "label": "Caption"
          },
          {
            "type": "select",
            "id": "text_size",
            "options": [
              {
                "value": "text-sm",
                "label": "Small"
              },
              {
                "value": "text-base",
                "label": "Base"
              },
              {
                "value": "text-lg",
                "label": "Large"
              }
            ],
            "default": "text-base",
            "label": "Text size"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Use this section to welcome customers or highlight your store’s main features.</p>",
            "label": "Text"
          },
          {
            "type": "select",
            "id": "text_size",
            "label": "Text size",
            "options": [
              {
                "value": "text-body",
                "label": "Body"
              },
              {
                "value": "text-body-large",
                "label": "Large body"
              }
            ],
            "default": "text-body"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "default": "Shop now",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary",
            "default": false,
            "label": "Use outline style"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Content Panels",
        "category": "Custom",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "text"
          },
          {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}