<div class='container py-[50px]'>
  <div class='md:flex lg:items-center lg:justify-between'>
    {%- if section.settings.title != blank -%}
      <h2 class='{{ section.settings.heading_size }} text-[32px] lg:text-[60px] mx-auto'>
        {{ section.settings.title }}
      </h2>
    {%- endif -%}
  </div>

  {%- if section.settings.description != blank -%}
    <div class='text-body rte mt-3 mx-auto text-center'>
      {{ section.settings.description -}}
    </div>
  {%- endif -%}

  <div class='pt-[45px]'>
    {% capture slides %}
    {% for block in section.blocks %}
      {% assign image = block.settings.collection.image %}
      {% if block.settings.image %}
        {% assign image = block.settings.image %}
      {% endif %}
      <swiper-slide class='flex-none h-auto justify-center px-2 peer peer-hover:grayscale'>
        <a class="h-full relative aspect-[3/4] flex items-end justify-center" href="{{ block.settings.collection.url }}">
          {%- render 'image', image: image, class: 'absolute inset-0 -z-10 h-full object-cover w-full', alt: block.settings.collection.title -%}
          <p class="text-[18px] text-center font-medium text-p-lightest uppercase p-[17px]">
            {{ block.settings.collection.title }}
          </p>
        </a>
      </swiper-slide>
    {% endfor %}
  {% endcapture %}
    {% render 'c-carousel', slides: slides %}
  </div>
</div>

{% schema %}
{
  "name": "Collection List",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Featured Products",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h1",
          "label": "Heading 1"
        }
      ],
      "default": "h2",
      "label": "Heading Size"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "collection_list",
      "id": "collections",
      "label": "Collections"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Overrides default collection image if set"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection List",
      "category": "Custom"
    }
  ]
}
{% endschema %}
