<div class='container py-[50px]'>
  <div class='md:flex lg:items-center lg:justify-between'>
    {%- if section.settings.title != blank -%}
      <h2 class='{{ section.settings.heading_size }} h2 text-[32px] lg:text-[60px] mx-auto text-center'>
        {{ section.settings.title }}
      </h2>
    {%- endif -%}
  </div>

  {%- if section.settings.description != blank -%}
    <div class='text-body rte mt-[10px] mb-[20px] mx-auto text-center'>
      {{ section.settings.description -}}
    </div>
  {%- endif -%}

  {%- render '@needs-script'
    , entries: 'collection-list' -%}
  <collection-list class='pt-[45px]'>
    {% capture slides %}
    {% for block in section.blocks %}
      {% assign image = block.settings.collection.image %}
      {% if block.settings.image %}
        {% assign image = block.settings.image %}
      {% endif %}
      <swiper-slide class='flex-none h-auto justify-center px-2 grayscale-0 transition-colors'>
        <a class="h-full relative aspect-[3/4] flex items-end justify-center" href="{{ block.settings.collection.url }}">
          {%- render 'resource-badges', collection: block.settings.collection, container_class: 'absolute top-0 left-0 z-1' -%}
          {%- render 'image', image: image, class: 'absolute inset-0 -z-10 h-full object-cover w-full', alt: block.settings.collection.title, width: 500 -%}
          <p class="text-[18px] text-center font-medium text-p-lightest uppercase p-[17px]">
            {{ block.settings.collection.title }}
          </p>
        </a>
      </swiper-slide>
    {% endfor %}
  {% endcapture %}
    {% render 'c-carousel'
      , slides: slides
      , arrows: 'center' %}
  </collection-list>
</div>

{% schema %}
  {
    "name": "Collection List",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "default": "Featured Products",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "!h1",
            "label": "H1"
          },
          {
            "value": "!h2",
            "label": "H2"
          },
          {
            "value": "!h3",
            "label": "H3"
          },
          {
            "value": "!h4",
            "label": "H4"
          }
        ],
        "default": "!h2",
        "label": "Heading Size"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "collection_list",
        "id": "collections",
        "label": "Collections"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Overrides default collection image if set"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection List",
        "category": "Custom"
      }
    ]
  }
{% endschema %}