{%- liquid
  assign video = section.settings.video
  assign video_alt = video.alt | default: section.settings.video_alt
  assign cover_image = section.settings.image
  assign loop = section.settings.loop_video
  assign poster_loading = 'lazy'

  if section.index < 3
    assign poster_loading = 'eager'
  endif
-%}

{% capture image_overlay %}
  {% if section.settings.image_overlay %}
    <div class='absolute inset-0 z-10 pointer-events-none bg-p-darkest bg-opacity-10'></div>
  {% endif %}
{% endcapture %}
{% capture content %}
  <div class="h-full flex items-center z-20">
    <div class='flex flex-col justify-center gap-y-[14px] container text-center mx-auto lg:mx-0 lg:text-left px-[10px] lg:px-0 my-[10px] max-w-[549px] items-center lg:items-start lg:ml-0'>
      {%- for block in section.blocks -%}
        {% case block.type %}
          {%- when 'heading' -%}
            <h2 class='text-balance {{ block.settings.heading_size }}' {{ block.shopify_attributes }}>
              {{ block.settings.heading }}
            </h2>
          {%- when 'text' -%}
            <div class='rte max-w-[549px] {{ block.settings.text_size }}' {{ block.shopify_attributes }}>
              {{ block.settings.text }}
            </div>
          {%- when 'button' -%}
            {%- if block.settings.button_label != blank -%}
              <a
                {% if block.settings.button_link == blank %}
                  role='link' aria-disabled='true'
                {% else %}
                  href='{{ block.settings.button_link }}'
                {% endif %}
                class='my-2 btn'
                variant='{{ block.settings.button_variant }}'
                {{ block.shopify_attributes }}
              >
                {{ block.settings.button_label | escape }}
              </a>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
{% endcapture %}
<div class='isolate grid grid-cols-1 gap-y-sm relative text-p-lightest min-h-[675px]'>
  <div class="px-pagemargin 2xl:container">
    {{ content }}
  </div>

  {%- render 'inline-media'
    , video: video
    , video_alt: video_alt
    , cover_image: cover_image
    , loop: loop
    , poster_loading: poster_loading
    , controls: section.settings.controls
    , muted: true
    , autoplay: section.settings.video_autoplay
    , class: 'absolute inset-0 w-full h-full -z-10'
    , object_fit: 'object-cover'
  -%}

  {{ image_overlay }}
</div>

{% schema %}
  {
    "name": "Hero — Video",
    "class": "section",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "Video"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Fallback image"
      },
      {
        "type": "text",
        "id": "video_alt",
        "label": "Video alt text",
        "default": "Promotional video"
      },
      {
        "type": "checkbox",
        "id": "video_autoplay",
        "label": "Autoplay video",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "loop_video",
        "default": false,
        "label": "Loop video"
      },
      {
        "type": "checkbox",
        "id": "controls",
        "label": "Show video controls",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "image_overlay",
        "label": "Add gradient overlay on video",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Add a heading",
            "label": "Heading"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "!h1",
                "label": "H1"
              },
              {
                "value": "!h2",
                "label": "H2"
              },
              {
                "value": "!h3",
                "label": "H3"
              },
              {
                "value": "!h4",
                "label": "H4"
              }
            ],
            "default": "!h2",
            "label": "Heading size"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Use this section to welcome customers or highlight your store’s main features.</p>",
            "label": "Text"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "default": "Shop now",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "button_variant",
            "label": "Button variant",
            "options": [
              {
                "value": "primary",
                "label": "Primary"
              },
              {
                "value": "secondary",
                "label": "Secondary"
              },
              {
                "value": "tertiary",
                "label": "Tertiary"
              }
            ],
            "default": "primary"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero — Video",
        "category": "Custom",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "text"
          },
          {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}