{% capture content %}
  {%- for block in section.blocks -%}
    {% case block.type %}
      {%- when 'heading' -%}
        <h2 class='text-balance {{ block.settings.heading_size }}' {{ block.shopify_attributes }}>
          {{ block.settings.heading }}
        </h2>
      {%- when 'text' -%}
        <div class='rte {{ block.settings.text_size }}' {{ block.shopify_attributes }}>
          {{ block.settings.text }}
        </div>
    {%- endcase -%}
  {%- endfor -%}
  <div class="flex gap-x-[9.5px] gap-y-[4.75px] flex-wrap mt-[15px] lg:mt-0">
    {% assign buttons = 0 %}
    {%- for block in section.blocks -%}
      {% case block.type %}
        {%- when 'button' -%}
          {%- if block.settings.button_label != blank -%}
            <a
              {% if block.settings.button_link == blank %}
                role='link' aria-disabled='true'
              {% else %}
                href='{{ block.settings.button_link }}'
              {% endif %}
              class='btn {% if buttons > 0 %}hidden md:block{% endif %} text-center'
              variant='{{ block.settings.button_variant }}'
              {{ block.shopify_attributes }}
              data-btn="{{ buttons }}"
            >
              {{ block.settings.button_label | escape }}
            </a>
          {%- endif -%}
          {% assign buttons = buttons | plus: 1 %}
      {%- endcase -%}
    {%- endfor -%}
  </div>
{% endcapture %}
<div class='px-pagemargin py-[50px] 2xl:container bg-[#f3f3f3]'>
  <div class='flex flex-col gap-[20px] {{ section.settings.align_content }}'>
    {{ content }}
  </div>
</div>

{% schema %}
  {
    "name": "Intro Block",
    "class": "section",
    "settings": [
      {
        "type": "select",
        "id": "align_content",
        "label": "Align content",
        "options": [
          {
            "value": "items-start",
            "label": "Left"
          },
          {
            "value": "items-center",
            "label": "Center"
          },
          {
            "value": "items-end",
            "label": "Right"
          }
        ],
        "default": "items-start"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "limit": 1,
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Add a heading",
            "label": "Heading"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "!h1",
                "label": "H1"
              },
              {
                "value": "!h2",
                "label": "H2"
              },
              {
                "value": "!h3",
                "label": "H3"
              },
              {
                "value": "!h4",
                "label": "H4"
              }
            ],
            "default": "!h2",
            "label": "Heading size"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Use this section to welcome customers or highlight your store’s main features.</p>",
            "label": "Text"
          },
          {
            "type": "select",
            "id": "text_size",
            "label": "Text size",
            "options": [
              {
                "value": "text-body",
                "label": "Body"
              },
              {
                "value": "text-body-large",
                "label": "Large body"
              }
            ],
            "default": "text-body"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "default": "Shop now",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "button_variant",
            "label": "Button variant",
            "options": [
              {
                "value": "primary",
                "label": "Primary"
              },
              {
                "value": "secondary",
                "label": "Secondary"
              },
              {
                "value": "tertiary",
                "label": "Tertiary"
              },
              {
                "value": "quaternary",
                "label": "Quaternary"
              }
            ],
            "default": "quaternary"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Intro Block",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "text"
          },
          {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}