{%- capture payment_icons -%}
  <div class="flex flex-wrap items-center pt-3 gap-y-[13px] gap-x-[10px] mb-[30px] px-pagemargin 2xl:container">
    {%- for type in shop.enabled_payment_types -%}
      {{ type | payment_type_svg_tag: class: 'icon grayscale' }}
    {%- endfor -%}
  </div>
{%- endcapture -%}

{{ payment_icons }}

<div class='bg-p-light'>
  <div class='px-pagemargin 2xl:container'>
    <div class='py-[25px] lg:py-[32px] flex flex-col lg:flex-row lg:justify-between'>
      <div class='flex mt-2.5 lg:my-0.5'>
        {%- if section.settings.menu.links != blank -%}
          <nav class='flex items-center justify-start gap-[10px] lg:gap-[20px] flex-wrap mb-[25px] lg:mb-0'>
            <p class='text-[14px] flex items-center lg:justify-center lg:text-center'>
              {{ 'now' | date: '%Y' }}
              {{ 'sections.footer.copyright' | t }}
            </p>

            {% for link in section.settings.menu.links %}
              <a href='{{ link.url }}' class='text-[14px] {% unless forloop.last %} lg:mr-1{% endunless %}'>
                {{- link.title -}}
              </a>
            {% endfor %}
          </nav>
        {%- endif -%}
      </div>

      <div class='flex mt-2.5 lg:my-0.5'>
        {%- if section.settings.menu.links != blank -%}
          <nav class='flex items-center justify-start gap-[10px] lg:gap-[20px] flex-wrap'>
            {% for link in section.settings.menu.links %}
              <a href='{{ link.url }}' class='text-[14px] {% unless forloop.last %} lg:mr-1{% endunless %}'>
                {{- link.title -}}
              </a>
            {% endfor %}
          </nav>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer Legal",
  "limit": 1,
  "enabled_on": {
    "groups": ["footer"]
  },
  "presets": [
    {
      "name": "Footer Legal"
    }
  ],
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Legal menu",
      "info": "Select a link list to display in the footer."
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "Other links",
      "info": "Select a link list to display in the footer."
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true,
      "info": "Display the payment icons in the footer."
    }
  ]
}
{% endschema %}
