{% capture newsletter %}
  <div class="lg:order-none -order-1 lg:col-start-last">
    {%- form 'customer', novalidate: 'novalidate' -%}
      <div class='w-full pb-[23px] lg:pb-[45px] lg:max-w-[335px] ml-auto'>
        {%- if section.settings.newsletter_heading != blank -%}
          <h3 class='h5 mb-[23px]'>{{ section.settings.newsletter_heading }}</h3>
        {%- endif -%}

        {%- if section.settings.newsletter_caption != blank -%}
          <p class='text-sm mb-[10px] lg:mb-[20px]'>{{ section.settings.newsletter_caption }}</p>
        {%- endif -%}

        {%- if form.posted_successfully? -%}
          <p>{{ 'newsletter.success' | t }}</p>
        {%- else -%}
          {%- render '@needs-script', entries: 'component-newsletter-form' -%}
          <newsletter-form>
            <div class='relative w-full flex flex-col mb-2.5'>
              <input
                type='email'
                required
                placeholder='{{ section.settings.newsletter_placeholder }}'
                name='contact[email]'
                class='w-full py-[10px] text-sm border-b rounded-none bg-[transparent] focus-visible:ring-u-focus focus-visible:ring-2 placeholder:text-t-brand-secondary-contrast'
                data-email
              >
              <button
                type='submit'
                class='absolute top-0 right-0 flex items-center justify-end w-12 h-full bg-[transparent]'
                data-submit
              >
                <svg-icon src='c-icon-caret' class='rotate-90 w-[12px]'></svg-icon>
              </button>
            </div>

            <p
              data-error-email
              class='{% if form.errors %}flex{% else %}hidden{% endif %} items-center justify-start gap-x-2xs pt-4 text-caption text-t-brand-secondary-contrast'
            >
              {%- render 'icon' with 'icon-error', class: 'block min-w-3 min-h-3 text-[inherit]' -%}
              {{ 'footer.newsletter.email_error' | t }}
            </p>

            <p
              data-error-agreement
              class='hidden items-center justify-start gap-x-2xs pt-4 text-caption text-t-brand-secondary-contrast'
            >
              {%- render 'icon' with 'icon-error', class: 'block min-w-3 min-h-3 text-[inherit]' -%}
              {{ 'footer.newsletter.agree_terms' | t }}
            </p>
          </newsletter-form>
        {%- endif -%}
      </div>
    {%- endform -%}

    {%- if section.settings.show_social -%}
      {%- assign platforms = 'twitter, pinterest, youtube, facebook, instagram' | split: ', ' -%}
      {%- capture social_links -%}
        {%- for platform in platforms -%}
          {%- assign setting = 'social_' | append: platform | append: '_link' -%}
          {%- assign locale = 'general.social.links.' | append: platform -%}
          {%- if settings[setting] != blank -%}
            <li class='w-5'>
              <a href='{{ settings[setting] }}' class='' aria-describedby='a11y-external-message'>
                <svg-icon src="icon-{{ platform }}" class='{% if platform == 'youtube' %}w-[25px]{% else %}w-[20px]{% endif %} h-[20px] text-[inherit] hover:text-p-dark'></svg-icon>
                <span class='sr-only'>{{ locale | t }}</span>
              </a>
            </li> 
          {%- endif -%}
        {%- endfor -%}
      {%- endcapture -%}

      {%- if social_links != blank -%}
        <ul
          class='flex items-center justify-start gap-[10px] flex-wrap mb-[40px]'
          role='list'
        >
          {{- social_links -}}
        </ul>
      {%- endif -%}
    {%- endif -%}
  </div>
{% endcapture %}

<div class='pb-[50px] pt-[29px] lg:py-[80px] lg:mt-md border-t border-t-line-break'>
  <div class='px-pagemargin 2xl:container'>
    {%- if section.blocks.size > 0 -%}
      {% liquid
      if section.blocks.size == 1
        assign grid_class = 'lg:grid-cols-2'
      elsif section.blocks.size == 2
        assign grid_class = 'lg:grid-cols-3'
      elsif section.blocks.size == 3
        assign grid_class = 'lg:grid-cols-4'
      elsif section.blocks.size == 4
        assign grid_class = 'lg:grid-cols-5'
      else
        assign grid_class = 'lg:grid-cols-6'
      endif %}
      <div class='justify-start grid lg:pl-2 gap-[25px] lg:gap-[20px] {{ grid_class }}'>
        {%- assign first_link_list = true -%}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'link_list' -%}
              {%- capture accordion_id -%}{{ block.id }}-{{ section.id }}{%- endcapture -%}
              <div class='flex flex-col'>
                {%- capture group_name -%}
                  accordion-input-{{ accordion_id | handleize }}
                {%- endcapture -%}
                <div id='Details-{{ accordion_id }}' class='group'>
                  <label for='accordion-checkbox-{{ accordion_id }}'>
                    <input
                      aria-controls='accordion-content-{{ accordion_id }}'
                      aria-labelledby='Toggle {{ block.settings.heading | escape }} accordion'
                      class='sr-only peer'
                      type='checkbox'
                      id='accordion-checkbox-{{ accordion_id }}'
                      name='{{ group_name | default: 'accordion' }}'
                    >
                    <div class='flex items-center justify-between w-full lg:py-0 peer-focus-visible:ring-1 ring-u-focus lg:mb-0'>
                      <h2 class='h6 text-[28px] lg:mb-[30px]'>{{ block.settings.heading }}</h2>
                      {%- render 'icon' with 'c-icon-caret',
                        class: 'transition-transform rotate-180 group-has-[:checked]:rotate-0 lg:hidden',
                        size: 8
                      -%}
                    </div>
                  </label>
                  <div
                    class='grid invisible group-has-[:checked]:grid-rows-[1fr] group-has-[:checked]:visible grid-rows-[0fr] transition-[visibility,grid-template-rows] lg:visible lg:grid-rows-[1fr]'
                    id='accordion-content-{{ accordion_id }}'
                    role='region'
                    aria-labelledby='accordion-title-{{ accordion_id }}'
                  >
                    <div class='overflow-hidden'>
                      <ul class='grid grid-cols-1 gap-[15px] mt-[15px] lg:mt-0'>
                        {%- for link in block.settings.menu.links -%}
                          <li>
                            <a
                              class='text-body text-[14px] underline-offset-4 hover:underline hover:text-[inherit]'
                              href='{{ link.url }}'
                            >
                              {{- link.title -}}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              {%- assign first_link_list = false -%}
            {%- else -%}
          {%- endcase -%}
        {%- endfor -%}
        {{ newsletter }}
      </div>
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name": "Footer",
  "limit": 1,
  "enabled_on": {
    "groups": ["footer"]
  },
  "presets": [
    {
      "name": "Footer"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "Link List",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "Heading",
          "info": "Enter a heading for this list of links."
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu",
          "info": "Choose the menu to display."
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo Image"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Stay Connected",
      "label": "Newsletter Heading"
    },
    {
      "type": "textarea",
      "id": "newsletter_caption",
      "default": "Be the first to hear about product launches, exclusive sales, and more news.",
      "label": "Newsletter Caption"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "default": "Enter your email",
      "label": "Newsletter Email Placeholder"
    },
    {
      "type": "text",
      "id": "newsletter_segment_id",
      "label": "Newsletter Segment ID"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "Show social icons"
    }
  ]
}
{% endschema %}
