{% comment %}
  This section can be used anywhere. On a PDP, it will use the current product as the base for recommendations.
  If the section is used on a non-PDP page, the default product will be used to generate recommendations.
  Alternatively, the admin can set a `default_product_list` to display a list of products instead of recommendations.
{% endcomment %}

{% assign product_to_use = product %}
{% if template.name != 'product' %}
  {% assign product_to_use = section.settings.default_product %}
{% endif %}

{%- if recommendations.performed? -%}
  {{ recommendations.products_count | json }}
  {{ recommendations.intent | json }}
  {{ recommendations | json }}
  {%- if recommendations.products_count > 0 -%}
    <div
      section-id='{{ section.id }}'
      class='grid grid-cols-1 gap-y-sm 2xl:container px-pagemargin py-sm'
      data-url='{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product_to_use.id }}&limit=4&intent=related'
    >
      {% if section.settings.title != blank %}
        <h2>{{ section.settings.title }}</h2>
      {% endif %}

      {%- render 'product-cards-carousel', products: recommendations.products -%}
    </div>
  {%- elsif section.settings.default_product_list != blank -%}
    <div
      section-id='{{ section.id }}'
      class='grid grid-cols-1 gap-y-sm 2xl:container px-pagemargin py-sm'
    >
      {% if section.settings.title != blank %}
        <h2>{{ section.settings.title }}</h2>
      {% endif %}

      {%- render 'product-cards-carousel', products: section.settings.default_product_list -%}
    </div>
  {%- endif -%}
{%- elsif product_to_use != blank -%}
  {%- render '@needs-script', entries: 'core-inject-section' -%}
  <section-injection
    id='{{ section.id }}'
    section-name='{{ section.id }}'
    base-url='{{ routes.product_recommendations_url }}'
    params='?product_id={{ product_to_use.id }}&limit={{ section.settings.limit }}&intent={{ section.settings.intent }}'
  ></section-injection>
{%- elsif section.settings.default_product_list != blank -%}
  <div
    section-id='{{ section.id }}'
    class='grid grid-cols-1 gap-y-sm 2xl:container px-pagemargin py-sm'
  >
    {% if section.settings.title != blank %}
      <h2>{{ section.settings.title }}</h2>
    {% endif %}

    {%- render 'product-cards-carousel', products: section.settings.default_product_list -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.product-recommendations.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.product-recommendations.settings.title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.product-recommendations.settings.title",
      "default": "You may also like"
    },
    {
      "type": "number",
      "id": "limit",
      "label": "t:sections.product-recommendations.settings.limit",
      "default": 8
    },
    {
      "type": "select",
      "id": "intent",
      "label": "t:sections.product-recommendations.settings.intent",
      "options": [
        {
          "value": "related",
          "label": "t:sections.product-recommendations.settings.intent__related"
        },
        {
          "value": "complementary",
          "label": "t:sections.product-recommendations.settings.intent__complementary"
        }
      ],
      "default": "related"
    },
    {
      "type": "product",
      "id": "default_product",
      "label": "t:sections.product-recommendations.settings.default_product.label",
      "info": "t:sections.product-recommendations.settings.default_product.info"
    },
    {
      "type": "product_list",
      "id": "default_product_list",
      "label": "t:sections.product-recommendations.settings.default_product_list.label",
      "info": "t:sections.product-recommendations.settings.default_product_list.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-recommendations.name"
    }
  ]
}
{% endschema %}
